/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var(--bg-vertical), var(--bg-horizontal), var(--bg-main);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: var(--main-font);
  font-variation-settings: 'wght' var(--font--card-text);
}

.header {
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  block-size: 368px;
  inline-size: 700px;
  background-color: #fff;
  border: 1px solid #000;
  font-family: var(--accent-font);
}

.header__title {
  font-size: 65px;
}

.header__subtitle {
  font-size: 23px;
}

.text__wrapper {
  font-variation-settings: 'wght' var(--font-card-text);
}

.main {
  margin: 100px auto;
  inline-size: var(--main-inline-size);
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  background-color: #fff;
  border: 1px solid #000;
}

.card__title {
  margin-inline-start: 10px;
  font-size: 18px;
}

.image__wrapper {
  position: relative;
}

.card__image {
  display: block;
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: #d1c0c0;
  object-fit: cover;
}

.card__label {
  position: absolute;
  top: 30px;
  right: 30px;
  font-family: var(--accent-font);
  font-size: 14px;
}

.text__wrapper {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 18px;
  font-weight: 410;
}

.card__button {
  font-family: var(--accent-font);
  font-size: 14px;
  border: 2px solid #000;
  background-color: #fff;
  inline-size: 130px;
  block-size: 38px;
}
